@import "../fonts/fonts.css";
.navbar {
  font-family: DM-sans2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 90%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(13, 18, 33, 0.6);
  backdrop-filter: blur(10px);
  justify-self: center;
  margin-top: 20px;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
}

.logo {
  display: flex;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}

.logo img {
  width: 80%;
  height: 50px;
  margin-left: 50px;
}

.logo-icon {
  width: 40px;
  height: 40px;
  background: linear-gradient(45deg, #3b82f6, #60a5fa);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-text {
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  height: 32px;
  margin-right: 10px;
}

.navbar-links {
  display: flex;
  gap: 24px;
}

.navbar-links a {
  color: #8b93a7; /* Light gray for non-active links */
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.2s;
}

.navbar-links a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #ffffff; /* White for the underline */
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.navbar-links a:hover,
.navbar-links a.active {
  color: #ffffff; /* White color on hover and active */
}

.navbar-links a:hover::after,
.navbar-links a.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar-actions {
  display: flex;
  gap: 6px;
}

.btn-login {
  color: #ffffff;
  background: transparent;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.btn-download {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 50px;
  padding: 8px 24px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-right: 50px;
}

.btn-download:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
