.fade-in {
  opacity: 0;
  animation: fadeInApp 0.8s ease-in-out forwards;
}

@keyframes fadeInApp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
